<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengkai.officeautomationsystem">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.OfficeAutomationSystemApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".function.MainActivity" />
        <activity android:name=".function.schedule.ScheduleActivity" />
        <activity android:name=".function.ask_for_leave.AskForLeaveActivity" />
        <activity android:name=".function.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".function.contacts.ContactsActivity" />
        <activity android:name=".function.management_of_goods.ManagementOfGoodsActivity" />
        <activity android:name=".function.setting.SettingActivity" />
        <activity android:name=".function.go_out.GoOutActivity" />
        <activity android:name=".function.go_out.GoOutPreviewActivity" />
    </application>

</manifest>